<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div
        class="left-img"
        style="background-image: url(assets/images/pages/bg-01.png)"
      ></div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h5 class="welcome-msg">Reestablecer Contraseña</h5>
          <p class="auth-signup-text text-muted">
            No recuerdas tu contraseña? No te preocupes, ingresa el correo
            electronico asociado a tu cuenta y te enviaremos un link para
            reestablecerla
          </p>
          <form class="validate-form" #form="ngForm">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input
                    matInput
                    name="user-email"
                    #useremail="ngModel"
                    [(ngModel)]="email"
                    email
                    required
                  />
                  <mat-icon
                    class="material-icons-outlined color-icon p-3"
                    matSuffix
                    >mail</mat-icon
                  >
                  <mat-error *ngIf="useremail.hasError('required')"
                    >El correo electronico es requerido
                  </mat-error>

                  <mat-error *ngIf="useremail.hasError('email')"
                    >Ingresa un correo electronico valido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button
                mat-flat-button
                color="accent"
                class="auth-form-btn"
                [disabled]="!form.valid"
                type="button"
                (click)="sendResetPasswordEmail()"
              >
                Reestablecer contraseña
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  Iniciar sesión
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
