<!--suppress AngularNgOptimizedImage -->
<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false" class="navbar-toggle collapsed"
         href="#" onClick="return false;"></a>
      <a (click)="mobileMenuSidebarOpen($event,'overlay-open')" class="bars" href="#" onClick="return false;"></a>
      <a class="navbar-brand" routerLink={{homePage}}>
        <img alt="" src="assets/images/logopeque.png"/>
        <span class="logo-name" style="color: black; font-size: 20px">Rx Digital</span>
      </a>
    </div>
    <!--suppress AngularUndefinedBinding -->
    <div [ngClass]="isNavbarCollapsed ? '' : 'show'" class="collapse navbar-collapse">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons" mat-icon-button><i
            class="material-icons-outlined icon-color">
            menu
          </i>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- #START# Notifications-->
        @if (isAdmin) {
          <li>
            <button
              [matMenuTriggerFor]="notificationMenu"
              class="nav-notification-icons"
              mat-icon-button
            >
              <i class="material-icons-outlined icon-color"> apartment </i>
            </button>
            <mat-menu #notificationMenu="matMenu" class="nfc-menu">
              <div class="nfc-header">
                <h5 class="mb-0">Grupos</h5>
              </div>
              <div class="nfc-dropdown">
                <ng-scrollbar style="height: 350px" visibility="hover">
                  <div class="noti-list header-menu">
                    <div class="menu">
                      <div>
                        @for (grupo of businessGroups; track grupo) {
                          <!--suppress AngularUndefinedBinding -->
                          <button mat-menu-item
                                  (click)="changeBusinessGroupId(grupo.idGEMP)"
                                  [ngClass]="{
                          highlight: businessGroupId == grupo.idGEMP
                        }">
                        <span
                          class="table-img msg-user"
                          *ngIf="grupo.logoBase64"
                        >
                          <img
                            [src]="'data:image/png;base64,' + grupo.logoBase64"
                            alt="{{ grupo.nombre }}"
                          />
                        </span>
                            <span class="menu-info">
                          <span class="menu-title">{{ grupo.nombre }}</span>
                        </span>
                          </button>
                        }
                      </div>
                    </div>
                  </div>
                </ng-scrollbar>
              </div>
            </mat-menu>
          </li>
        }
        <!-- #END# Notifications-->
        <!-- #START# Notifications-->
        @if (isSupervisor) {
          <li>
            <button
              *ngIf="isSupervisor"
              [matMenuTriggerFor]="notificationMenu"
              class="nav-notification-icons"
              mat-icon-button
            >
              <i class="material-icons-outlined icon-color"> apartment </i>
            </button>
            <mat-menu #notificationMenu="matMenu" class="nfc-menu">
              <div class="nfc-header">
                <h5 class="mb-0">Sucursales</h5>
              </div>
              <div class="nfc-dropdown">
                <ng-scrollbar style="height: 350px" visibility="hover">
                  <div class="noti-list header-menu">
                    <div class="menu">
                      <div>
                        @for (sucursal of branches; track sucursal) {
                          <!--suppress AngularUndefinedBinding -->
                          <button mat-menu-item
                                  (click)="changeBranchGroupId(sucursal.idSucursal)"
                                  [ngClass]="{
                          highlight: branchGroupId == sucursal.idSucursal
                        }">
                            <span class="menu-info">
                          <span class="menu-title">{{ sucursal.nombre }}</span>
                        </span>
                          </button>
                        }
                      </div>
                    </div>
                  </div>
                </ng-scrollbar>
              </div>
            </mat-menu>
          </li>
        }
        <!-- #END# Notifications-->
        <li class="nav-item user_profile">
          <button mat-button>
            <div class="chip">
              <span>{{ userName }}</span>
              <img alt="User" class="user_img" height="32" src="{{userImg}}" width="32">
            </div>
          </button>
        </li>
        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
</nav>
