$color_purple: purple;
$color_orange: orange;

.card-number {
  align-content: center;
  margin-right: 25px;
  font-size: 32px;
  font-weight: bold;
}

.card-name {
  flex: auto;
}

.text-purple {
  color: $color_purple;
}

.text-orange {
  color: $color_orange;
}

.text-22 {
  font-size: 22px;
}

section {
  &.content {
    min-height: auto !important;
  }
}
