<div>
  <h2 mat-dialog-title>{{ user.idUsuario ? "Editar" : "Crear" }} paciente</h2>
  <div mat-dialog-content>
    <form #form="ngForm">
      <div class="row m-t-20">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input
              name="username"
              [(ngModel)]="user.usr"
              #username="ngModel"
              matInput
              required
            />

            <mat-error *ngIf="username.hasError('required')"
              >El usuario es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg- col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correo electronico</mat-label>
            <input
              name="email"
              [(ngModel)]="user.email"
              #email="ngModel"
              matInput
              required
              email
            />

            <mat-error *ngIf="email.hasError('required')"
              >El nombre es requerido
            </mat-error>

            <mat-error *ngIf="email.hasError('email')"
              >Proporciona una dirección de correo electronico valida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              #password="ngModel"
              matInput
              required
            />

            <mat-error *ngIf="password.hasError('required')"
              >El nombre es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row m-t-20">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre (s)</mat-label>
            <input
              name="username"
              [(ngModel)]="user.nombres"
              #username="ngModel"
              required
              matInput
            />

            <mat-error *ngIf="username.hasError('required')"
              >El nombre es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Apellido paterno</mat-label>
            <input
              name="userlastname"
              [(ngModel)]="user.primerApellido"
              #userlastname="ngModel"
              matInput
              required
            />
            <mat-error *ngIf="userlastname.hasError('required')"
              >El apellido paterno es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Apellido materno</mat-label>
            <input
              name="usersurname"
              [(ngModel)]="user.segundoApellido"
              #usersurname="ngModel"
              matInput
              required=""
            />
            <mat-error *ngIf="usersurname.hasError('required')"
              >El apellido materno es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Entidad de nacimiento</mat-label>
            <mat-select
              name="patient-birth-city"
              [(ngModel)]="patient.idEntidadNacimiento"
              #patientbirthcity="ngModel"
              required
              matInput
            >
              <mat-option
                value="{{ row.idEntidad }}"
                *ngFor="let row of federalEntity"
                >{{ row.nombre }}</mat-option
              >
            </mat-select>

            <mat-error *ngIf="patientbirthcity.hasError('required')"
              >La entidad de nacimiento es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Genero</mat-label>
          <input
            name="patient-gender"
            [(ngModel)]="patient.genero"
            #patientgender="ngModel"
            matInput
            required
          />

          <mat-error *ngIf="patientgender.hasError('required')"
            >El genero es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Fecha de Nacimiento</mat-label>

          <input
            matInput
            name="patient-birthdate"
            [(ngModel)]="patient.fechaNacimiento"
            #patientbirthdate="ngModel"
            matInput
            required
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-error *ngIf="patientbirthdate.hasError('required')"
            >La fecha de nacimiento es requerida
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Télefono móvil</mat-label>
            <input
              name="phone"
              [(ngModel)]="user.movil"
              #phone="ngModel"
              maxlength="10"
              matInput
              required
            />
            <mat-error *ngIf="phone.hasError('required')"
              >El telefono es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Dirección</mat-label>
            <textarea
              name="address"
              [(ngModel)]="user.domicilio"
              #address="ngModel"
              matInput
              required
            ></textarea>
            <mat-error *ngIf="address.hasError('required')"
              >La dirección es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row m-t-20">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Asentamiento</mat-label>
            <input
              type="text"
              name="settlement"
              [(ngModel)]="settlementSearch"
              [matAutocomplete]="auto"
              (keydown)="searchSettlementsByKeyPress()"
              matInput
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayFn"
              (optionSelected)="setSelectedSettlement($event.option.value)"
            >
              @for (option of settlements; track option) {
              <mat-option [value]="option">
                {{ option.nombreAsentamiento }}
              </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Grupo empresarial</mat-label>
            <mat-select
              name="gemp"
              [(ngModel)]="user.idGEMP"
              #gemp="ngModel"
              (selectionChange)="getBranchesByGemp()"
              matInput
              required
            >
              <mat-option
                value="{{ row.idGEMP }}"
                *ngFor="let row of businessGroups"
                >{{ row.nombre }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="gemp.hasError('required')"
              >El grupo empresarial es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Sucursal</mat-label>
            <mat-select
              name="branch"
              [(ngModel)]="user.idSucursal"
              #branch="ngModel"
              matInput
              required
            >
              <mat-option
                value="{{ row.idSucursal }}"
                *ngFor="let row of branches"
                >{{ row.nombre }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="branch.hasError('required')"
              >La sucursal es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="btn-sec m-t-30">
        <button
          class="btn-space"
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          (click)="createUpdateUser()"
        >
          {{ user.idUsuario ? "Editar" : "Crear" }} paciente
        </button>
        <button type="button" mat-button (click)="closeDialog()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
