<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div
        class="left-img"
        style="background-image: url(assets/images/pages/bg-01.png)"
      ></div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h6 class="welcome-msg">Reestable tu contraseña</h6>
          <p class="auth-signup-text text-muted">
            Escribe tu nueva contraseña para iniciar sesión
          </p>
          <form #form="ngForm" class="validate-form">
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Nueva contraseña</mat-label>
                  <input
                    #userpassword="ngModel"
                    [(ngModel)]="password"
                    [type]="hide ? 'password' : 'text'"
                    aria-autocomplete="none"
                    autocomplete="nope"
                    matInput
                    name="user-new-password"
                    required
                  />
                  <mat-icon
                    (click)="hide = !hide"
                    class="material-icons-outlined pwd-toggle p-3"
                    matSuffix
                  >
                    {{ hide ? "visibility_off" : "visibility" }}
                  </mat-icon
                  >
                  <mat-error>La contraseña es requerida</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Confirma tu contraseña</mat-label>
                  <input
                    #confirmedpassword="ngModel"
                    [(ngModel)]="confirmedPassword"
                    [type]="chide ? 'password' : 'text'"
                    aria-autocomplete="none"
                    autocomplete="nope"
                    matInput
                    name="user-new-password-confirmed"
                    required
                  />
                  <mat-icon
                    (click)="chide = !chide"
                    class="material-icons-outlined pwd-toggle p-3"
                    matSuffix
                  >
                    {{ chide ? "visibility_off" : "visibility" }}
                  </mat-icon
                  >
                  <mat-error
                  >La confirmación de la contraseña es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <mat-error
                *ngIf="
                  password != '' &&
                  confirmedPassword != '' &&
                  password != confirmedPassword
                "
              >Las contraseñas no coinciden
              </mat-error>
            </div>
            <div class="flex-sb-m w-full p-b-20">
              <div>
                <span
                ><a routerLink="/authentication/signin">
                    Iniciar sesión
                  </a></span
                >
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button
                (click)="resetPassword()"
                [disabled]="!form.valid || password != confirmedPassword"
                class="auth-form-btn"
                color="accent"
                mat-flat-button
                type="button"
              >
                Resetear contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
