<!--suppress AngularNgOptimizedImage -->
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [active_item]="'Crear-Editar'" [title]="'Sucursales'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header" style="background-color: #003359">
                <div class="user-name">{{ param ? 'Editar' : 'Nueva' }} Sucursal</div>
              </div>
              <img
                [src]="'data:image/png;base64,' + gemp.logoBase64"
                alt="{{gemp.nombre}}"
                class="user-img"
              />
              <p>Grupo Empresarial</p>
              <p>{{ gemp.nombre }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Datos generales
              </ng-template>
              <form [formGroup]="branchForm" class="register-form m-4">

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input
                        appUppercaseNoAccent
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="nombre"
                        matInput
                        required
                      />
                      @if (branchForm.get('nombre')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>


                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Registro Sanitario</mat-label>
                      <input
                        appUppercaseNoAccent
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="registroSanitario"
                        matInput
                        required
                      />
                      @if (branchForm.get('registroSanitario')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Asentamiento</mat-label>
                      <input
                        (keydown)="searchSettlementsByKeyPress($event)"
                        [(ngModel)]="settlementSearch"
                        [matAutocomplete]="auto"
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="settlementSearch"
                        matInput
                        name="settlement"
                        type="text"
                      />
                      <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="setSelectedSettlement($event.option.value)"
                        [displayWith]="displayFn"
                      >
                        @for (option of settlements; track option) {
                          <mat-option [value]="option">
                            {{ option.asentamiento }}, {{ option.estado }} - CP: {{ option.codigoPostal }}
                          </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Dirección</mat-label>
                      <textarea
                        appUppercaseNoAccent
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="domicilio"
                        matInput
                        required
                      ></textarea>
                      @if (branchForm.get('domicilio')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>

                <mat-divider/>

                <div class="row m-t-20">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Nombre del Responsable</mat-label>
                      <input
                        appUppercaseNoAccent
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="responsable"
                        matInput
                        required
                      />
                      @if (branchForm.get('responsable')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg- col-md-6 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Correo electronico del Responsable</mat-label>
                      <input
                        aria-autocomplete="none"
                        autocomplete="nope"
                        email
                        formControlName="emailResponsable"
                        matInput
                        required
                      />
                      @if (branchForm.get('emailResponsable')?.hasError('email')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                      @if (branchForm.get('emailResponsable')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Cédula del Responsable</mat-label>
                      <input
                        appUppercaseNoAccent
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="cedulaResponsable"
                        matInput
                        required
                      />
                      @if (branchForm.get('cedulaResponsable')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>


                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Teléfono del Responsable</mat-label>
                      <input
                        appUppercaseNoAccent
                        aria-autocomplete="none"
                        autocomplete="nope"
                        formControlName="telefonoResponsable"
                        matInput
                        required
                      />
                      @if (branchForm.get('telefonoResponsable')?.hasError('required')) {
                        <mat-error>{{ getErrorMessage() }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <mat-divider/>
              </form>
            </mat-tab>

          </mat-tab-group>

          <button (click)="confirmAdd()"
                  [disabled]="!branchForm.valid"
                  [ngClass]="{
          'button-custom': true,
          'disabled': !branchForm.valid
          }"
                  color="primary"
                  mat-button>
            {{ !branchForm.valid ? 'Formulario Incompleto' : param ? 'Editar sucursal' : 'Crear Sucursal' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
