<!--suppress AngularNgOptimizedImage -->
<div class="row clearfix">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="m-b-20">
        <div class="contact-grid">
          <div class="profile-header bg-dark">
            <div class="user-name">{{ doctor.nombres }} {{ doctor.primerApellido }} {{ doctor.segundoApellido }}
            </div>
            <div class="name-center">{{ userRole }}</div>
          </div>
          <img alt="" class="user-img" src="{{userImg}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon msr-2">face</mat-icon>
            Información usuario: {{ doctor.usr }}
          </ng-template>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="project_widget">
              <div class="header">
                <h2><strong>General</strong></h2>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Nombre Completo</strong>
                    <br>
                    <p
                      class="text-muted">{{ doctor.nombres }} {{ doctor.primerApellido }} {{ doctor.segundoApellido }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Correo</strong>
                    <br>
                    <p class="text-muted">{{ doctor.email }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Universidad</strong>
                    <br>
                    <p
                      class="text-muted">{{ doctor.universidad }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Cedula General</strong>
                    <br>
                    <p class="text-muted">{{ doctor.cedulaGeneral }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Especialidad</strong>
                    <br>
                    <p
                      class="text-muted">{{ doctor.especialidad }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Cedula Especialidad</strong>
                    <br>
                    <p class="text-muted">{{ doctor.cedulaEspecialidad }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Teléfono</strong>
                    <br>
                    <p class="text-muted">{{ doctor.movil | formatMobile }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Domicilio</strong>
                    <br>
                    <p class="text-muted">{{ doctor.domicilio }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Tipo Asentamiento</strong>
                    <br>
                    <p class="text-muted">{{ doctor.tipoAsentamiento }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Asentamiento</strong>
                    <br>
                    <p class="text-muted">{{ doctor.asentamiento }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Codigo Postal</strong>
                    <br>
                    <p class="text-muted">{{ doctor.codigoPostal }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Estado</strong>
                    <br>
                    <p class="text-muted">{{ doctor.estado }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Municipio</strong>
                    <br>
                    <p class="text-muted">{{ doctor.municipio }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Ciudad</strong>
                    <br>
                    <p class="text-muted">{{ doctor.ciudad }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Grupo Empresarial</strong>
                    <br>
                    <p class="text-muted">{{ doctor.grupoEmpresarial }}</p>
                  </div>
                  <div class="col-md-6 col-6 b-r">
                    <strong>Sucursal</strong>
                    <br>
                    <p class="text-muted">{{ doctor.sucursal }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-6 b-r">
                    <strong>Horario</strong>
                    <br>
                    <p class="text-muted">{{ doctor.horario }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <!--        <mat-tab>-->
        <!--          <ng-template mat-tab-label>-->
        <!--            <mat-icon class="example-tab-icon msr-2">account_box</mat-icon>-->
        <!--            Pacientes-->
        <!--          </ng-template>-->
        <!--          <app-patient-by-doctor [idDoctor]="doctor.idMedico"></app-patient-by-doctor>-->
        <!--        </mat-tab>-->

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
            Configuración
          </ng-template>
          <form [formGroup]="userForm" class="register-form m-4">

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Usuario</mat-label>
                  <input
                    aria-autocomplete="none"
                    autocomplete="nope"
                    formControlName="usr"
                    matInput
                    required
                  />
                  @if (userForm.get('usr')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>

              <div class="col-xl-6 col-lg- col-md-6 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Correo electronico</mat-label>
                  <input
                    aria-autocomplete="none"
                    autocomplete="nope"
                    email
                    formControlName="email"
                    matInput
                    required
                  />
                  @if (userForm.get('email')?.hasError('email')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                  @if (userForm.get('email')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                <button
                  (click)="toggleCambiarContrasena()"
                  [color]="cambiarContrasena ? 'warn' : 'primary'"
                  mat-flat-button>
                  {{ cambiarContrasena ? 'No cambiar contraseña' : 'Cambiar contraseña' }}
                </button>
              </div>
              @if (cambiarContrasena) {
                <div class="col-xl-6 col-lg- col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input
                      autocomplete="nope"
                      aria-autocomplete="none"
                      type="password"
                      formControlName="password"
                      matInput
                    />
                    @if (userForm.get('password')?.hasError('required')) {
                      <mat-error>{{ getErrorMessage() }}</mat-error>
                    }
                  </mat-form-field>
                </div>
              }
            </div>

            <mat-divider/>

            <div class="row m-t-20">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Nombre (s)</mat-label>
                  <input
                    aria-autocomplete="none"
                    autocomplete="nope"
                    formControlName="nombres"
                    matInput
                    required
                  />
                  @if (userForm.get('nombres')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Apellido paterno</mat-label>
                  <input
                    aria-autocomplete="none"
                    autocomplete="nope"
                    formControlName="primerApellido"
                    matInput
                    required
                  />
                  @if (userForm.get('primerApellido')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Apellido materno</mat-label>
                  <input
                    aria-autocomplete="none"
                    autocomplete="nope"
                    formControlName="segundoApellido"
                    matInput
                    required=""
                  />
                  @if (userForm.get('segundoApellido')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Télefono móvil</mat-label>
                  <input
                    aria-autocomplete="none"
                    autocomplete="nope"
                    formControlName="movil"
                    matInput
                    required
                  />
                  @if (userForm.get('movil')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Dirección</mat-label>
                  <textarea
                    aria-autocomplete="none"
                    autocomplete="nope"
                    formControlName="domicilio"
                    matInput
                    required
                  ></textarea>
                  @if (userForm.get('domicilio')?.hasError('required')) {
                    <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <mat-divider/>

            <!--            <div class="row m-t-20">-->
            <!--              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">-->
            <!--                <mat-form-field appearance="outline" class="example-full-width">-->
            <!--                  <mat-label>Asentamiento</mat-label>-->
            <!--                  <input
            autocomplete="nope"
                aria-autocomplete="none"-->
            <!--                    (keydown)="searchSettlementsByKeyPress($event)"-->
            <!--                    [(ngModel)]="settlementSearch"-->
            <!--                    [matAutocomplete]="auto"-->
            <!--                    formControlName="settlementSearch"-->
            <!--                    matInput-->
            <!--                    name="settlement"-->
            <!--                    type="text"-->
            <!--                  />-->
            <!--                  <mat-autocomplete-->
            <!--                    #auto="matAutocomplete"-->
            <!--                    (optionSelected)="setSelectedSettlement($event.option.value)"-->
            <!--                    [displayWith]="displayFn"-->
            <!--                  >-->
            <!--                    @for (option of settlements; track option) {-->
            <!--                      <mat-option [value]="option">-->
            <!--                        {{ option.asentamiento }}-->
            <!--                      </mat-option>-->
            <!--                    }-->
            <!--                  </mat-autocomplete>-->
            <!--                </mat-form-field>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--            <div class="row m-t-20">-->
            <!--              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">-->
            <!--                <mat-form-field appearance="outline" class="example-full-width">-->
            <!--                  <mat-label>Grupo empresarial</mat-label>-->
            <!--                  <mat-select-->
            <!--                    (selectionChange)="getBranchesByGemp()"-->
            <!--                    formControlName="idGEMP"-->
            <!--                    required-->
            <!--                  >-->
            <!--                    <mat-option-->
            <!--                      *ngFor="let row of businessGroups"-->
            <!--                      value="{{ row.idGEMP }}"-->
            <!--                    >{{ row.nombre }}-->
            <!--                    </mat-option-->
            <!--                    >-->
            <!--                  </mat-select>-->
            <!--                  @if (userForm.get('idGEMP')?.hasError('required')) {-->
            <!--                    <mat-error>{{ getErrorMessage() }}</mat-error>-->
            <!--                  }-->
            <!--                </mat-form-field>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--            <div class="row m-t-20">-->
            <!--              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">-->
            <!--                <mat-form-field appearance="outline" class="example-full-width">-->
            <!--                  <mat-label>Sucursal</mat-label>-->
            <!--                  <mat-select-->
            <!--                    formControlName="idSucursal"-->
            <!--                    required-->
            <!--                  >-->
            <!--                    <mat-option-->
            <!--                      *ngFor="let row of branches"-->
            <!--                      value="{{ row.idSucursal }}"-->
            <!--                    >{{ row.nombre }}-->
            <!--                    </mat-option-->
            <!--                    >-->
            <!--                  </mat-select>-->
            <!--                  @if (userForm.get('idSucursal')?.hasError('required')) {-->
            <!--                    <mat-error>{{ getErrorMessage() }}</mat-error>-->
            <!--                  }-->
            <!--                </mat-form-field>-->
            <!--              </div>-->
            <!--            </div>-->
            <button (click)="confirmAdd()"
                    [disabled]="!userForm.valid || !userForm.valid"
                    [ngClass]="{
          'button-custom': true,
          'disabled': !userForm.valid || !userForm.valid
        }"
                    color="primary"
                    mat-button>
              {{ !userForm.valid || !userForm.valid ? 'Formulario Incompleto' : 'Editar usuario' }}
            </button>
          </form>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
